.carousel{
    box-shadow: inset 0px 1px 5px 3px rgba(0,0,0,0.3),  1px 1px 2px -1px rgba(0, 0, 0, 0.4),  0px 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.carousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #262626;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #000;
       -moz-box-shadow: 0 0 2px #000;
            box-shadow: 0 0 2px #000;
}
.carousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}
.carousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/
.carousel {
    position: relative;
    overflow: hidden;
	/*edited from width:270px; for large screen*/
    width: 100%;
    height: 135px;
	background: #323232;
}

.carousel ul {
    width: 20000em;
    position: absolute;
    list-style: none;
    margin: 3px;
    padding: 3px;
}

.carousel li {
    float: left;
	margin:2px;
}

/** Carousel Controls **/
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #454545;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    border: 1px solid #454545;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #000;
       -moz-box-shadow: 0 0 2px #000;
            box-shadow: 0 0 2px #000;

    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4),  0 3px 3px -2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.5s;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
    position: absolute;
    top: 48px;
    background: #6a6a6a;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    /*border: 1px solid #fff600;*/
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4),  0 3px 3px -2px rgba(0, 0, 0, 0.3);
}

.carousel-control-prev {
    left: -50px;
}

.carousel-control-next {
    right: -50px;
}

.carousel-control-prev:hover span,
.carousel-control-next:hover span {
    display: block;
}