html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 55px;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
    background: #ccd3cf;
    background: url("./../img/patt/grid.png") 0 0 repeat;
    font-size: 12px;
    color: #000000;
}

#main {
    /*background: url("./../img/patt/clean_textile.png") 0 0 repeat;*/
    background: rgba(230, 255, 239, 0.51);
    padding: 0px;
}

.main_container {
    width: 90%;
    margin: 0 auto;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #464b4c;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: whitesmoke;
    background-image: -webkit-linear-gradient(top, #34393a, #25292a, #121617);
    background-image: -moz-linear-gradient(top, #34393a, #25292a, #121617);
    background-image: -o-linear-gradient(top, #34393a, #25292a, #121617);
    background-image: linear-gradient(to bottom, #34393a, #25292a, #1d2223);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
    border-radius: 4px 4px 0 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    padding-top: 50px;
    background: #3d4144 url("./../img/bg.png") 0 0 repeat;
    border-bottom: 5px solid #ddd;
    max-width: 100%;
    margin-bottom: 5px;
}

#header {
    border-radius: 0 0 4px 4px;
}

ol, ul {
    list-style: none;
}

nav {
    min-height: 50px;
    font-size: 14pt;
    background: #464b4c;
    border-top: 1px solid #353939;
    border-bottom: 1px solid #2e3131;
    background-image: -webkit-linear-gradient(top, #515657, #3f4344);
    background-image: -moz-linear-gradient(top, #515657, #3f4344);
    background-image: -o-linear-gradient(top, #515657, #3f4344);
    background-image: linear-gradient(to bottom, #515657, #3f4344);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
    margin-bottom: 3px;
    max-width: 100%;
    border-radius: 4px;
}

nav ul {
    border-left: 1px solid #353939;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid #4d5354;
    border-right: 1px solid rgba(255, 255, 255, 0.06);
}

nav li {
    float: left;
    width: 130px;
    max-width: 100%;
    font-size: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(61, 61, 61);;
}

@media screen and (max-width: 330px) {
    nav li {
        width: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 470px) {
    nav li {
        width: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    nav li {
        width: 33%;
        max-width: 33%;
    }
}

.clear {
    clear: both;
}

nav a {
    display: block;
    padding: 0 20px;
    line-height: 50px;
    color: #ddd;
    text-decoration: none;
    text-shadow: 0 -1px #2e3131;
    border-left: 1px solid #4d5354;
    border-left: 1px solid rgba(255, 255, 255, 0.06);
    border-right: 1px solid #353939;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    -webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    -o-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
}

nav a:hover {
    background: #5b6162;
    background: rgba(255, 255, 255, 0.09);
    border-left: 1px solid #4d5354;
    border-right: 1px solid #353939;
}

nav li.active a, nav li.active a:hover, nav a:active {
    padding: 0 21px;
    line-height: 47px;
    height: 47px;
    color: #eee;
    background: #323637;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid #48a9c0;
    background-image: -webkit-linear-gradient(top, #484e4f, #323637);
    background-image: -moz-linear-gradient(top, #484e4f, #323637);
    background-image: -o-linear-gradient(top, #484e4f, #323637);
    background-image: linear-gradient(to bottom, #484e4f, #323637);
    -webkit-box-shadow: inset 0 -1px #151717, inset 0 -1px 8px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -1px #151717, inset 0 -1px 8px rgba(0, 0, 0, 0.2);
}

nav li.green a, nav li.green a:active {
    border-bottom-color: #56c93d;
}

nav li.red a, nav li.red a:active {
    border-bottom-color: #a54e49;
}

nav li.purple a, nav li.purple a:active {
    border-bottom-color: #c052b9;
}

nav li.yellow a, nav li.yellow a:active {
    border-bottom-color: #e8e335;
}

nav li.cyan a, nav li.yellow a:active {
    border-bottom-color: #a8e8d5;
}