h3 {
    color: #ccc;
    font-size: 0.6em;
    font-weight: normal;
}

h4 {
    color: #ccc;
    font-size: 1.2em;
    font-weight: normal;
}

.thumbdyn {
    height: 61px;
    width: 61px;
}

.top {
    text-align: center;
    width: 100%;
    height: 56px;
    margin: auto;
    background-position: top center;
}

.top img {
    margin-top: 5px;
}

#wrapper {
    width: 98%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding: 0;
    text-align: center;
}

#imageuploadform {
    margin-bottom: 15px;
    margin-top: 150px;
}

#output img {
    border: 0;
}

#output {
    /*edited from width:400px; for large screen*/
    width: 90%;
    /*added for large screen*/
    margin: auto;
}

#page img {
    border: 0;
    max-width: 100%;
}

#page {
    /*edited from width:400px; for large screen*/
    width: 90%;
    /*added for large screen*/
    margin: auto;
}

#message a {
    text-decoration: none;
    color: white;
}

.shadow {
    text-align: center;
}

.shadow img {
    box-shadow: 1px 1px 4px #000;
    -webkit-box-shadow: 1px 1px 4px #000;
    -moz-box-shadow: 1px 1px 4px #000;
    width: auto;
    /*edited from max-height:350px; for large screen*/
    max-height: 100%;
    /*edited from max-width:400px; for large screen*/
    max-width: 100%;
    border: 0;
}

#filters {
    width: 75%;
    margin: auto;
}

li.filter {
    display: inline-block;
}

li {
    cursor: pointer;
}

li.filter img {
    display: inline-block;
    position: relative;
    z-index: 0;
}

li p {
    color: #fff;
    font-size: 1em;
    padding: 1px;
    margin-top: 1px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

@media only screen and (orientation: landscape) {
    .shadow img {
        box-shadow: 1px 1px 4px #000;
        -webkit-box-shadow: 1px 1px 4px #000;
        -moz-box-shadow: 1px 1px 4px #000;
        width: auto;
        max-height: 320px;
        max-width: 100%;
        border: 0;
    }
}

@media only screen and (min-device-width: 768px) and (max-width: 1024px) {
    /* tablet portrait mode and desktops with less than 994px of horizontal browser width */
    .shadow img {
        box-shadow: 1px 1px 4px #000;
        -webkit-box-shadow: 1px 1px 4px #000;
        -moz-box-shadow: 1px 1px 4px #000;
        width: auto;
        max-height: 260px;
        max-width: 100%;
        border: 0;
    }
}

@media only screen and (min-device-width: 768px) and (orientation: portrait), screen and (max-width: 994px) {
    /* tablet portrait mode and desktops with less than 994px of horizontal browser width */
}

@media screen and (max-width: 555px), screen and (max-device-width: 480px) {
    /* for desktops with less than 555px of horizontal browser width and devices with less than 480px wide (most phones in landscape orientation) */
    #imageuploadform {
        margin-bottom: 15px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 320px) {
    /* anything less than 320px (primarily phones in portrait */
    #imageuploadform {
        margin-bottom: 15px;
        margin-top: 100px;
    }
}