input[type="button"],[type="submit"]{
    border : 1px solid #2C53BA;
    border-radius : 3px;
    background : #EDF5FF;
    margin:1px;
}
input[type="button"]:hover, [type="submit"]:hover{
    border-radius : 3px;
    margin:1px;
    background : #2C53BA;
    color:white;
}
#filterform{
    background : #494949;
    top : 0;
    left : 0;
    background-attachment : fixed;
    position : fixed;
    z-index : 10;
    display : none;
    width : 100%;
    height : 100%;
    opacity: 0.5;
}
.dialog {
    border : 4px solid #BBCCFF;
    border-radius: 12px 12px 15px 15px;
    position : fixed;
    z-index:50;
    background : white;
    display:none;
    background-attachment:scroll;
}
.dialog .close-button{
    top:0%;
    position:absolute;
    left : 93%;
    display : inline;
    padding :6px 8px;
    border-radius : 3px;
    text-decoration:none;
    color:black;
    font-weight : bold;
    font-size: 14px;
    cursor:pointer;
}

.hcategory{
    text-align: center;
    color: black;
}

.category{
    display: inline-block;
    align-content: center;
    margin: 0 auto;
}
.category .hcategory{
    display: inline-block;
}

.dialog #d_title{
    top:0%;
    font-weight : bold;
    position: relative;
    font-size: 14pt;
}
.dialog #b_body{
    width:100%;
    background: url("./../img/patt/swirl_pattern.png") 0 0 repeat;
    border-radius: 0 0 20px 20px;
    text-align:center;
}
.dialog .d_header{
    margin-top: 0;
    /*background: #ffd60a; *//*#f85f64*/
    color: #1e3d94;
    border-radius: 10px 10px 0 0;
    border: 2px dotted #199ebf;
    border-bottom: 2px dashed #199ebf;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px 0;
    background: #ffff14; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffff14 0%, #ffee10 47%, #ffdc0c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff14), color-stop(47%,#ffee10), color-stop(100%,#ffdc0c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffff14 0%,#ffee10 47%,#ffdc0c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffff14 0%,#ffee10 47%,#ffdc0c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffff14 0%,#ffee10 47%,#ffdc0c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffff14 0%,#ffee10 47%,#ffdc0c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff14', endColorstr='#ffdc0c',GradientType=0 ); /* IE6-9 */
}

.dialog .d_upload{
    margin: 0;
    padding: 17px;
    /*background: #6ecb77; *//*#f85f64*/
    background: #199ebf;
    border-left: 2px dotted #ffd60a;
    border-right: 2px dotted #ffd60a;
    border-bottom: 3px dashed #3f6ea0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

    background: #1ba2c4; /* Old browsers */
    background: -moz-linear-gradient(top,  #1ba2c4 0%, #0f71a5 50%, #095a97 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1ba2c4), color-stop(50%,#0f71a5), color-stop(100%,#095a97)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1ba2c4 0%,#0f71a5 50%,#095a97 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1ba2c4 0%,#0f71a5 50%,#095a97 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1ba2c4 0%,#0f71a5 50%,#095a97 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1ba2c4 0%,#0f71a5 50%,#095a97 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ba2c4', endColorstr='#054b8d',GradientType=0 ); /* IE6-9 */

}

.center{
    margin: 0 auto;
}

#fileupload_box{
    width : 400px;
    /*height: 470px;*/
    left : 30%;
    top :20%;

    background:#fefefe;
    text-align: center;
    border: 10px solid #1f221c;
    border-radius: 20px;
    -webkit-box-shadow: 0px 26px 20px -14px rgba(0,0,0,0.58), 0px 0px 18px 5px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 26px 20px -14px rgba(0,0,0,0.58),  0px 0px 18px 5px rgba(0,0,0,0.32);
    box-shadow: 0px 26px 20px -14px rgba(0,0,0,0.58), 0px 0px 18px 5px rgba(0,0,0,0.32);
}

#done{
    margin-bottom: 5px;
}

#iframe{
    margin:10px;
    height:250px;
    text-align:center;
    border :none;
    background:white;
    position:relative;
    background: url("./../img/patt/swirl_pattern.png") 0 0 repeat;
}

.error{
    background:#FBBFB7;
    color : red;
    border:1px dashed red;
    text-align:center;
    padding:2px;
}
.msg{
    background : #D7FBD8;
    color : #1D6710;
    border:1px dashed #1D6710;
    text-align:center;
    padding:2px;
}
.thumb{
    display: block;
    margin: 0 auto;
    border:2px solid #8CC1BF;
    padding:2px;
}

.editor_div{
    background : rgba(239, 252, 255, 0.45);
    background: url("./../img/patt/white_wall.png") 0 0 repeat;
    border-radius: 4px 4px 8px 8px;
    padding: 5px;
    margin-top : 5px;
    text-align:center;
    height:100%;
    overflow:visible;
    z-index:100;
    overflow: hidden;
 }

#editor img{
    max-width: 75%;
    min-width: 150px;
    margin: 10px;

    border : 1px solid rgba(21, 24, 31, 0.5);
    border-top : 1px solid rgba(21, 24, 31, 0.5);
    border-bottom : 7px solid rgb(39, 44, 54);
    border-radius: 4px 4px 8px 8px;
    -webkit-box-shadow: 0 5px 2px rgba(21, 24, 31, 0.5);
    box-shadow: 1px 4px 5px 0px rgba(21, 24, 31, 0.5), 1px 3px 2px 0px rgba(21, 24, 31, 0.5), 3px 7px 5px 0px rgba(21, 24, 31, 0.2);
}

#loading{
    position:absolute;
    left:40%;
    top:50%;
    display:none;
}

#controls{
    padding: 5px;
    /*background: #f1fdf0;*/
    background: url("./../img/patt/clean_textile.png") 0 0 repeat;
    border-radius: inherit;
}

#controls img{
    margin : 0px;
    padding : 7px;
    background : #ffd442;
    cursor : pointer;
    border : 1px solid #518d7d;
    border-radius: 3px;

    /*box-shadow: 3px 3px 3px #ffffff;*/
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.66);

    background-color: #82BF56;
    border-bottom: 2px solid #669644;
    text-shadow: 0px -2px #669644;

    background: #9dd53a; /* Old browsers */
    background: -moz-linear-gradient(top, #9dd53a 0%, #9dd53a 43%, #80c217 87%, #7cbc0a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(43%,#9dd53a), color-stop(87%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #9dd53a 0%,#9dd53a 43%,#80c217 87%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #9dd53a 0%,#9dd53a 43%,#80c217 87%,#7cbc0a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #9dd53a 0%,#9dd53a 43%,#80c217 87%,#7cbc0a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #9dd53a 0%,#9dd53a 43%,#80c217 87%,#7cbc0a 100%); /* W3C */
}
#controls img:hover{
    background : #199ebf;
    background: #3dc6d5; /* Old browsers */
    background: -moz-linear-gradient(top, #3dc6d5 0%, #3dc6d5 43%, #17b0c5 87%, #0aaec0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3dc6d5), color-stop(43%,#3dc6d5), color-stop(87%,#17b0c5), color-stop(100%,#0aaec0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3dc6d5 0%,#3dc6d5 43%,#17b0c5 87%,#0aaec0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3dc6d5 0%,#3dc6d5 43%,#17b0c5 87%,#0aaec0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3dc6d5 0%,#3dc6d5 43%,#17b0c5 87%,#0aaec0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3dc6d5 0%,#3dc6d5 43%,#17b0c5 87%,#0aaec0 100%); /* W3C */
    cursor : pointer;
    border : 1px solid #535b61;
}
#controls img:active{
    background : #199ebf;
    background: #0894a4; /* Old browsers */
    background: -moz-linear-gradient(top, #0894a4 0%, #1497a8 13%, #29b0bf 57%, #29b0bf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0894a4), color-stop(13%,#1497a8), color-stop(57%,#29b0bf), color-stop(100%,#29b0bf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0894a4 0%,#1497a8 13%,#29b0bf 57%,#29b0bf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0894a4 0%,#1497a8 13%,#29b0bf 57%,#29b0bf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0894a4 0%,#1497a8 13%,#29b0bf 57%,#29b0bf 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0894a4 0%,#1497a8 13%,#29b0bf 57%,#29b0bf 100%); /* W3C */
    cursor : pointer;
    border : 1px solid #535b61;
}

#preview_filters img{
    width: 95px;
    height: 95px;
    margin : 0px 8px 0 8px;
    background : #2c584c;
    cursor : pointer;
    /*border : 1px solid #d8f3ff;*/
    border-radius: 3px;
    -webkit-transition: all 0.5s;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.5),  0 3px 3px -2px rgba(0, 0, 0, 0.1);
}
#preview_filters img:hover{
    background : #19afd0;
    cursor : pointer;
    border : 1px solid #ffd442;
    border-radius: 3px;
    box-shadow: 1px -1px 2px 2px rgba(0,0,0,0.5),  0 5px 0px -2px rgba(21, 255, 0, 0.9);
}

.tools-group{
    margin-left : 5px;
}
#tooltip{
    position:absolute;
    border:1px solid #333;
    background:#f7f5d1;
    padding:2px 5px;
    color:#333;
    display:none;
}
.app-name{
    margin: 0;
    padding: 10px;
    background: #6ecb77; /*#f85f64*/
    border: 2px dotted #3f6ea0;
    border-bottom: 3px dashed #3f6ea0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15pt;

    background: #99c749; /* Old browsers */
    background: -moz-linear-gradient(top, #99c749 0%, #99c749 19%, #86b240 87%, #76ac1a 94%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99c749), color-stop(19%,#99c749), color-stop(87%,#86b240), color-stop(94%,#76ac1a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #99c749 0%,#99c749 19%,#86b240 87%,#76ac1a 94%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #99c749 0%,#99c749 19%,#86b240 87%,#76ac1a 94%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #99c749 0%,#99c749 19%,#86b240 87%,#76ac1a 94%); /* IE10+ */
    background: linear-gradient(to bottom, #99c749 0%,#99c749 19%,#86b240 87%,#76ac1a 94%); /* W3C */
}

#about-box{
    padding: 25px;
    width : 550px !important;
    height:360px;
    left : 30%;
    top :20%;
    display:none;
    background:#fefefe;
    text-align: center;
    font-size: 17px;
    border: 10px solid #1f221c;
    border-radius: 20px;
    background: url("./../img/patt/symphony.png") 0 0 repeat;
    -webkit-box-shadow: 0px 26px 20px -14px rgba(0,0,0,0.58), 0px 0px 18px 5px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 26px 20px -14px rgba(0,0,0,0.58),  0px 0px 18px 5px rgba(0,0,0,0.32);
    box-shadow: 0px 26px 20px -14px rgba(0,0,0,0.58), 0px 0px 18px 5px rgba(0,0,0,0.32);
}

#about{
    float:right;
    cursor : pointer;
}
#blue-bold{
    font-weight : bold;
}
#version{
    font-style:italic;
    color : #9F9F9F;
    font-size:10px;
}

.border_frame{
    border-radius: 4px;
    border : 2px solid rgba(21, 24, 31, 0.56);
    border-top : 1px solid rgba(21, 24, 31, 0.56);
    border-radius: 4px 4px 8px 8px;
    -webkit-box-shadow: 0 3px 0 rgba(21, 24, 31, 0.76), 1px 3px 2px 0px rgba(21, 24, 31, 0.5);
    box-shadow: 0 3px 0 rgba(21, 24, 31, 0.76), 1px 3px 2px 0px rgba(21, 24, 31, 0.5)
}

li.hcategory div {
    background: url("../img/holder.png") transparent;
    box-shadow: 0px 0px 3px #000000;
    height: 95px;
    margin-left: 0px;
    margin-top: -95px;
    position: relative;
    width: 95px;
    z-index: 220;
}